<% layout('layout') -%>

<div class="pure-g">
  <div class="formHeader pure-u-1">
    Confirm New Password
  </div>
  <div class="messageContainer pure-u-1">
    <%= message %>
  </div>
  <div class="confirmNewPasswordForm pure-u-1">
    <form name="confirmNewPasswordForm" id="confirmNewPasswordForm" action="/confirmPassword" method="POST">
    <div class="pure-g">
      <div class="pure-u-1-2 formRow">
        <div class="confirmLabel floatRight">Confirm Code (from Email)</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="text" name="confirmCode" id="confirmCode" value=""/>
      </div>
      <div class="pure-u-1-2 formRow">
        <div class="passwordLabel floatRight">New Password</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="password" name="password" id="password" value=""/>
      </div>
      <div class="pure-u-1 submitButtonContainer">
        <input type="submit" id="submitBtn" value="Submit"/>
      </div>
    </div>
    </form>
  </div>
</div>