<% layout('layout') -%>

Forgot Password<br/>
<form name="forgotPasswordForm" id="forgotPasswordForm" action="/forgotPassword" method="POST">
<input type="text" name="username" id="username" value=""/><br/><br/>
<input type="submit" id="submitBtn" value="Submit"/>
<br/><br/>
<%= message %>
</form>

<br/>
<br/>
<a href="/">Home</a>
