<% layout('layout') -%>

<div class="pure-g">
  <div class="formHeader pure-u-1">
    Login
  </div>
  <div class="messageContainer pure-u-1">
    <%= message %>
  </div>
  <div class="loginForm pure-u-1">
    <form name="loginForm" id="loginForm" action="/login" method="POST">
    <div class="pure-g">
      <div class="pure-u-1-2 formRow">
        <div class="usernameLabel floatRight">Username</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="text" name="username" id="username" value=""/>
      </div>
      <div class="pure-u-1-2 formRow">
        <div class="passwordLabel floatRight">Password</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="password" name="password" id="password" value=""/>
      </div>
      <div class="pure-u-1 submitButtonContainer">
        <input type="submit" id="submitBtn" value="Submit"/>
      </div>
    </div>
    </form>
  </div>
  <div class="loginForgotPassword pure-u-1">
    <a href="/forgotPassword">Forgot Password?</a>
  </div>
</div>