<% layout('layout') -%>

<% if ( user.signedIn ) { %>

<div class="pure-g">
  <div class="usernameHeader pure-u-1">
    Username: <%= user.username %>
  </div>
  <div class="changePasswordFormHeader pure-u-1">
    Change Password
  </div>
  <div class="messageContainer pure-u-1">
    <%= message %>
  </div>
  <div class="changePasswordForm pure-u-1">
    <form name="changePasswordForm" id="changePasswordForm" action="/changePassword" method="POST">
    <div class="pure-g">
      <div class="pure-u-1-2 formRow">
        <div class="oldPasswordLabel floatRight">Old Password</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="password" name="oldPassword" id="oldPassword" value=""/>
      </div>
      <div class="pure-u-1-2 formRow">
        <div class="newPasswordLabel floatRight">New Password</div>
      </div>
      <div class="pure-u-1-2 formRow">
        <input type="password" name="newPassword" id="newPassword" value=""/>
      </div>
      <div class="pure-u-1 submitButtonContainer">
        <input type="submit" id="submitBtn" value="Submit"/>
      </div>
    </div>
    </form>
  </div>
</div>

<% } %>