<% layout('layout') -%>

<div class="pure-g">
  <div class="formHeader pure-u-1">
    Register
  </div>
  <div class="messageContainer pure-u-1">
    <%= message %>
  </div>
  <div class="signUpForm pure-u-1">
    <form name="signUpForm" id="signUpForm" action="/signup" method="POST">
    <div class="pure-g">
      <div class="pure-u-1-2 loginFormRow">
        <div class="usernameLabel floatRight">User Name</div>
      </div>
      <div class="pure-u-1-2 loginFormRow">
        <input type="text" name="username" id="username" value=""/>
      </div>
      <div class="pure-u-1-2 loginFormRow">
        <div class="usernameLabel floatRight">Email</div>
      </div>
      <div class="pure-u-1-2 loginFormRow">
        <input type="text" name="email" id="email" value=""/>
      </div>
      <div class="pure-u-1-2 loginFormRow">
        <div class="passwordLabel floatRight">Password</div>
      </div>
      <div class="pure-u-1-2 loginFormRow">
        <input type="password" name="password" id="password" value=""/>
      </div>
      <div class="registerPlans pure-u-1">
        <input type="radio" name="plan" value="Plan1" checked><label for="Plan1"> Plan1</label>
        <input type="radio" name="plan" value="Plan2"><label for="Plan2"> Plan2</label>
        <input type="radio" name="plan" value="Plan3"><label for="Plan3"> Plan3</label>
      </div>
      <div class="pure-u-1 submitButtonContainer">
        <input type="submit" id="submitBtn" value="Submit"/>
      </div>
    </div>
    </form>
  </div>
</div>